*.sln
*.csproj
*.unityproj
Library/
MultiTest_Data/
ProtoTest_Data/
SCG_Data/
OBS_Data/
Spaceless.exe
Spaceless_Data/
*temp.meta
Temp/
*.app
*.userprefs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OBS.exe
SCG.exe
MultiTest.exe
*.rar
*~$*
player_win_x86_s.pdb
Docs/WhoKnows_Too_Much_Random.xlsx
*.pdb
*.suo
.vs\scg\v14\.suo
.vs
.vscode/launch.json
.vscode/settings.json
Assets/Editor/VSCode.cs
Assets/Editor/VSCode.cs.meta